* {
    box-sizing: border-box;
    cursor: default;
    /* user-select: none; */
}

body,
button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

html,
body,
#app {
    height: 100vh;
}

body,
ol,
ul,
li {
    border: 0;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}
